<%= form_for @user, :validate => true do |f| %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "name", :class => "enter" %>
  </div>

  <div class="field">
    <%= f.text_field :email, :placeholder => "upenn email", :class => "enter" %>
  </div>

  <div class="field">
    <%= f.text_field :referrer, :placeholder => "who referred you?", :class => "enter" %>
  </div>

  <div class="field">
    <%= f.text_field :question1, :placeholder => "something amazing about you", :class => "enter" %>
  </div>

  <div class="field">
    <%= f.text_field :question2, :placeholder => "anything else?", :class => "enter" %>
  </div>

  <div class="actions">
    <%= f.submit "Done", :class => "btn" %>
  </div>

  <br/><br/>
  <div><a href="http://en.wikipedia.org/wiki/Junto_(club)">Junto?</a></div>

<% end %>
